@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles for Toast */
.Toastify__toast {
  font-size: 16px;
  border-radius: 12px;
  margin-top: 60px; 
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .Toastify__toast {
    font-size: 12px;
	border-radius: 12px;
    margin: 72px 30px;
  }

  .Toastify__toast-body {
    overflow-wrap: break-word; /* safer than word-break alone */
    word-break: break-word;
  }
}


/* ----------------------------- */



 /* Scroll  => tailwind.config.js => extend */

 @layer components {
	::-webkit-scrollbar {
	  width: 6px; 
	}
  
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
  
	::-webkit-scrollbar-thumb {
	  background: #888; 
	  border-radius: 6px; 
	}
  
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
  }


  
  @layer components {
	@media (prefers-color-scheme: dark) {
	  ::-webkit-scrollbar-thumb {
		background: #555;
	  }
  
	  ::-webkit-scrollbar-thumb:hover {
		background: #333;
	  }
	}
  } 