.header{
    box-shadow: 1px 2px 7px 1px green;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0px 65px 0px 65px;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 1.5rem;
    background-color: black;
    padding: 1rem;
}

.header li{
    /* color: rgb(241, 225, 225); */
    color: rgb(28, 224, 28);
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}